<div id="back">
    <div class="container">
        <div class="row align-items-center" id="formBox">
            <form class="row justify-content-center" #newEquipo="ngForm" (ngSubmit)="sendEquipoFormToComponent(newEquipo)">
                <div class="col-md-4">
                    <label>Nombre del equipo</label>
                    <input type="text" class="form-control" name="nombre" #nombre [(ngModel)]="equipoModel.nombre" required>
                    <label class="error" *ngIf="!validateNombre">El nombre no puede tener más de 50 caracteres</label>
                </div>
                <div class="col-md-4">
                    <label>Títulos</label>
                    <input type="number" class="form-control" name="titulos" #titulos [(ngModel)]="equipoModel.titulos" required>
                    <label class="error" *ngIf="!validateTitulos">El equipo no puede tener más de 500 títulos</label>
                </div>
                <div class="col-md-4">
                    <label>Fecha de fundación (Formato Instant)</label>
                    <input type="text" class="form-control" name="fechaDeFundacion" #fechaDeFundacion [(ngModel)]="equipoModel.fechaDeFundacion" required>
                    <label class="error" *ngIf="!validateFecha"> La fecha de fundación no puede tener más de 20 caracteres</label>
                </div>
                <div class="col-md-4">
                    <label>Liga introduce el id de la liga para asociar al equipo con ella</label>
                    <input type="number" class="form-control" name="liga" #liga [(ngModel)]="equipoModel.liga.id" required>
                    <label class="error" *ngIf="!validateLiga">El id de la liga no puede ser mayor a 5000</label>
                </div>


                <div class="col-md-12" id="button">
                    <button type="submit" class="btn btn-primary" [disabled]="!newEquipo.form.valid">Agregar equipo</button>
                    <button type="button" class="btn btn-secondary" id="return" routerLink="/equipos">Volver</button>
                </div>
            </form>
        </div>
    </div>
</div>